label {
  position: relative;
}

span.error {
  position: absolute;
  right: 5px;
  background: rgba(200, 38, 38, 0.63);
  padding: 4px;
  top: 34px;
  line-height: 10px;
  font-size: 10px;
  border-radius: 3px;
}

.modal_abandono_ativo, .modal_abandono_ativo * {
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  -ms-transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.modal_abandono_inativo, .modal_abandono_inativo * {
  -webkit-transition: ease-in-out all 0.1s;
  -o-transition: ease-in-out all 0.1s;
  -ms-transition: ease-in-out all 0.1s;
  -moz-transition: ease-in-out all 0.1s;
  transition: ease-in-out all 0.1s;
}

.modal_abandono_inativo .titulo_abandono {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  padding: 0 10px;
  font-family: 'Itc officina serif std book', sans-serif;
}

.modal_abandono_inativo .formulario .fechar_abandono {
  display: none;
}

.modal_abandono_ativo .formulario .fechar_abandono {
  background: #FFF;
  position: absolute;
  cursor: pointer;
  right: -17px;
  top: -17px;
  color: #333;
  border: #333 solid 2px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  border-radius: 50px;
}

.modal_abandono_ativo {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
}

.modal_abandono_ativo .fundo {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal_abandono_ativo .formulario {
  width: 400px;
  height: auto !important;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: 0 0 0 -200px;
}

.modal_abandono_ativo .titulo_abandono {
  display: block;
  font-size: 20px;
  background: #FFFFFF;
  color: #333;
  text-align: center;
  padding: 20px 0;
  font-family: 'Itc officina serif std book', sans-serif;
}

.modal_abandono_ativo .titulo-form-pagina {
  display: none
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 75px;
  padding-bottom: 7px;
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 43px;
  line-height: 69px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 0px;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #242424;
}

h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  padding: 0px 13px 0px 11px;
  font-family: Oswald, sans-serif;
  color: #FFFFFF;
  font-size: 25px;
  line-height: 43px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #242424;
}

h3 {
  margin-top: 14px;
  margin-bottom: 24px;
  padding-bottom: 34px;
  font-family: Lato, sans-serif;
  color: #242424;
  font-size: 39px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #4f4f4f;
  font-size: 15px;
  line-height: 24px;
  font-weight: 900;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 45px 19px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  text-indent: 0px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.operadoras {
  float: left;
  padding-left: 50px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

.topo {
  position: static;
  background-color: rgba(8, 89, 144, 0.95);
}

.logo-topo {
  padding-top: 3px;
  padding-bottom: 3px;
}

.sucesso {
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  /* text-transform: uppercase; */
  display: block;
}

.obg {
  font-size: 22px
}

.bg_video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: auto;
  z-index: -1000;
  background-size: cover;
  margin-top: -44px;
}

.meio {
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url('/static/images/overlay.png');
  background-position: 0% 0%, 3% 76%;
  background-size: auto, auto;
  background-repeat: repeat;
  color: #333;
  line-height: 24px;
  font-weight: 700;
  max-height: 900px;
}

.conteudo-meio {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.form {
  display: block;
  padding: 0px 13px 15px 0px;
  border-radius: 1px;
  background-color: transparent;
}

.formulario {
  margin-top: 1px;
  padding-top: 0px;
  padding-right: 0px;
  background-color: transparent;
}

.label {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 11px;
  font-weight: 300;
}

.label.label-op {
  font-size: 14px;
  font-weight: 600;
  margin-left: -25px;
}

.label.obg {
  font-size: 10px;
  line-height: 16px;
}

.bt-form {
  width: 100%;
  height: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  background-color: #154a83;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: all 173ms ease;
  transition: all 173ms ease;
  font-family: Oswald, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.bt-form:hover {
  background-color: #2b659a;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.campos {
  width: 100%;
  padding: 10px;
  margin-bottom: 9px;
  border-radius: 2px;
  background-color: white;
  font-size: 13px;
  font-weight: 400;
  border: #CCC solid 1px;
}

.box-left {
  padding-right: 0px;
}

.destaque2 {
  font-size: 23px;
  font-weight: 600;
}

.info {
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 46px;
  background-color: white;
}

.bullet {
  margin-right: 1px;
  margin-left: 1px;
  padding-right: 6px;
  padding-bottom: 22px;
  padding-left: 6px;
  text-align: center;
}

.img-icon {
  width: auto;
  height: auto;
  padding-bottom: 3px;
}

.box-info {
  margin-bottom: 9px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 53px;
  background-color: rgba(95, 193, 232, 0.2);
  background-position: 4% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.rodape {
  padding-top: 53px;
  padding-bottom: 53px;
  background-color: #d6d6d6;
}

.texto-rodape {
  font-size: 11px;
  line-height: 15px;
}

.check-rodape {
  padding-top: 14px;
}

.step2 {
  display: none;
}

.esquerda {
  padding-right: 4px;
}

.direita {
  padding-left: 5px;
}

.label_cnpj {
  color: #FFF;
  padding: 10px 40px 10px 20px;
}

.form-campos {
  padding: 5px 12px 11px;
  background-color: rgba(31, 31, 31, 0.80);
  height: 525px;
  border-radius: 8px;
}

.opcoes-op {
  padding-top: 8px;
  padding-left: 60px;
}

.operadora {
  text-align: center;
  margin-top: 15px;
  background-color: rgba(111, 111, 111, 0.59);
  margin-right: 5px;
}

.operadora.claro {
  padding-right: 1px;
  background-position: 36% 21%;
  background-size: 52px;
  background-repeat: no-repeat;
}

.operadora.oi {
  background-position: 26% 22%;
  background-size: 57px;
  background-repeat: no-repeat;
}

.operadora.nextel {
  background-position: 57% 12%;
  background-size: 65px;
  background-repeat: no-repeat;
}


.operadora.vivo {
  background-position: 51% 15%;
  background-size: 58px;
  background-repeat: no-repeat;
}

.operadora.vivo:hover {
}

.operadora.tim {
  background-position: 34% 17%;
  background-size: 58px;
  background-repeat: no-repeat;
}

.check {
  padding-top: 48px;
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 4px;
}

.bt-check {
  width: 17px;
  height: 17px;
}

.row-op {
  margin-bottom: 10px
}

.box-bullet.linha {
  padding-right: 10px;
  border-right-style: dotted;
  border-right-width: 1px;
}

.text-bullet {
  padding-top: 20px;
  padding-left: 4px;
  color: #5c5c5c;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.box-op-modal {
  padding-left: 45px;
}

.tit {
  margin-left: 10px !important;
}

.all-bullets {
  padding-top: 24px;
  padding-bottom: 16px;
}

.plano {
  font-weight: 400;
}

.slapsh {
  text-align: left;
}

.text-h2 {
  padding-top: 17px;
  padding-bottom: 49px;
}

.box-splash {
  /* margin-top: -59px; */
}

.box-splash-mobile {
  display: none;
}

.lista-operadoras {
  padding: 0;
}

.lista-operadoras .label_op {
  width: 20%;
  float: left;
  padding: 5px;
  text-align: center;
}

.lista-operadoras .label_op label {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #FFF;
  border-radius: 5px;
}

.lista-operadoras .label_op label:hover {
  background: rgba(255, 255, 255, 0.3);
}

.lista-operadoras .label_op input[type="checkbox"] {
  float: none;
  margin: 0;
}

.lista-operadoras .label_op img {
  -webkit-filter: contrast(0.5) grayscale(1) brightness(1.5);
}

.lista-operadoras .label_op input[type="checkbox"]:checked+img {
  -webkit-filter: none;
}

.lista-linhas .label_op {
  width: 25%;
  float: left;
  padding: 5px;
  text-align: center;
}

.lista-linhas .label_op label {
  background: url('/static/images/check_off.png') center bottom no-repeat rgba(255, 255, 255, 0.2);
  padding: 5px 0 28px 0;
  text-align: center;
  width: 100%;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  display: table;
}

/*.lista-linhas .label_op label .alinha { height:24px; text-align:center; vertical-align:middle; display:table-cell; line-height:18px;}*/

.lista-linhas .label_op label:hover {
  background: url('/static/images/check_off.png') center bottom no-repeat rgba(255, 255, 255, 0.3);
}

.lista-linhas .label_op input[type="radio"] {
  float: left;
  margin: 0;
  width: 1px !important;
  opacity: 0;
  height: 1px !important;
}

.lista-linhas .label_op input[type="radio"]:checked+label {
  background: url('/static/images/check_on.png') center bottom no-repeat #FFF;
  color: #333;
}

.background {
  background-color: rgba(31, 31, 31, 0.59);
  padding-bottom: 40px;
}

.redes>h3 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.redes .rede-social {
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: none;
  box-shadow: none;
  display: block;
  box-sizing: border-box;
  max-width: 330px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 1em;
  line-height: 1.5em;
}

.redes .rede-social .fa {
  position: relative;
  left: 20px;
  font-size: 1.5em;
  float: left;
}

.redes .facebook {
  background-color: #4a6ea9;
}

.redes .twitter {
  background-color: #20b8ff;
}

.redes .facebook:hover {
  background-color: #3683df;
}

.redes .twitter:hover {
  background-color: #01cfff;
}

@media (max-width: 991px) {
  h1 {
    padding-top: 15px;
    padding-right: 243px;
    padding-bottom: 0px;
    color: #009bc2;
    text-shadow: none;
    font-size: 30px;
    line-height: 43px;
    text-align: right;
  }
  h2 {
    margin-left: 125px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    text-align: right;
  }
  h3 {
    padding-bottom: 3px;
    font-size: 30px;
  }
  .topo {
    margin-bottom: 22px;
  }
  .meio {
    padding-top: 0px;
    padding-bottom: 8px;
    background-color: white;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
  }
  .check {
    padding-left: 75px
  }
  .bg_video {
    display: none;
  }
  .form {
    padding-right: 9px;
    padding-left: 9px;
  }
  .rodape {
    padding-right: 22px;
    padding-left: 22px;
  }
  .sucesso {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .form-campos {
    background-color: rgba(31, 31, 31, 0.89);
    height: auto
  }
  .logo {
    text-align: center;
  }
  .text-bullet {
    padding-top: 0px;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
  }
  .text-h2 {
    padding-top: 0px;
  }
  .box-splash {
  }
  .operadora.claro {
    background-position: 49% 18%;
  }
  .operadora.oi {
    background-position: 41% 21%;
  }
  .operadora.nextel {
    background-position: 48% 11%;
  }
  .operadora.vivo {
    background-position: 50% 11%;
  }
  .operadora.vivo {
    background-position: 47% 20%;
  }
  .operadora.tim {
    background-position: 47% 15%;
  }
}

@media (max-width: 767px) {
  h1 {
    padding-top: 28px;
    padding-right: 0px;
    font-size: 33px;
    line-height: 47px;
    text-align: center;
    text-shadow: none;
  }
  h2 {
    margin-left: 0px;
    padding-bottom: 35px;
    font-size: 31px;
    text-align: center;
  }
  h3 {
    font-size: 24px;
  }
  .logo-topo {
    text-align: center;
  }
  .meio {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .bg_video {
    display: none;
  }
  .sucesso {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .formulario {
    padding-right: 5px;
  }
  .img-icon {
    width: 157px;
  }
  .esquerda {
    padding-right: 0px;
  }
  .direita {
    padding-left: 0px;
  }
  .form-campos {
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    height: auto
  }
  .operadora {
    height: 81px;
    margin-bottom: -6px;
    padding: 0px 5px;
    float: none;
    clear: none;
  }
  .check {
    float: right;
    padding-right: 31px;
  }
  .text-bullet {
    padding-top: 10px;
    padding-bottom: 19px;
    text-align: center;
  }
  .all-bullets {
    text-align: center;
  }
  .img-operadora {
    width: 88px;
  }
  .box-splash {
    margin-bottom: 19px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .lista-operadoras {
    padding: 0;
  }
  .lista-linhas .label_op label .alinha {
    height: 44px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    line-height: 18px;
  }
  /*.box-splash { display:none;}*/
  h1 {
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
    line-height: 26px;
  }
  h2 {
    padding-top: 0px;
    padding-bottom: 17px;
    font-size: 21px;
    line-height: 43px;
  }
  h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  p {
    padding-bottom: 2px;
    font-size: 13px;
  }
  .logo-topo {
    text-align: center;
  }
  .form {
    padding-right: 5px;
    padding-left: 5px;
  }
  .sucesso {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bg_video {
    display: none;
  }
  .formulario {
    padding-right: 0px;
  }
  .label.label-op {
    padding-bottom: 13px;
    font-size: 11px;
  }
  .form-campos {
    padding-right: 8px;
    padding-left: 8px;
    text-align: left;
    height: auto
  }
  .check {
    text-align: center;
    padding-top: 30px;
    padding-right: 69px;
    padding-left: 48px;
  }
  .all-bullets {
    display: none;
  }
  .operadora.claro {
    background-position: 25% 46%;
  }
  .operadora.oi {
    background-position: 25% 46%;
  }
  .operadora.nextel {
    background-position: 25% 46%;
  }
  .operadora.vivo {
    background-position: 25% 46%;
  }
  .operadora.vivo {
    background-position: 25% 46%;
  }
  .operadora.tim {
    background-position: 25% 46%;
  }
  .box-splash {
    width: 100%;
    text-align: center;
  }
  .box-splash img {
    width: 120px;
  }
  /*.box-splash-mobile { display:block; width:100%; text-align:center; margin-top:-60px;}
*/
}
