.navbar {
    background-color: #0a5b91;
    background-image: url('../img/nav_bg.png')
  }

  .navbar a {
    color: #adbbc2 !important;
    transition: color 0.7s ease;

  }

  .navbar a:hover {
    color: #FFFFFF !important;
  }

  .rodape {
    background-color: #0a5b91;
    background-image: url('../img/bg_footer.png');
    background-size: cover;
    color: #FFFFFF !important;
  }

  h1 {
    color: #FFFFFF !important;
  }

  h2 {
    color: #006699 !important;
    text-shadow: 1px 1px 20px #FFFFFF;
    margin-left: 0 !important;
    padding-left: 0;
  }

  .box-bullet {
    margin-top: 30px !important;
  }

  .text-bullet {
    text-transform: uppercase;
  }